@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-Inter: "Inter", sans-serif;

  --color-black-1: #070707;
  --color-black-2: #212121;
  --color-red: #d61010;
}
